<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761614409471-m1pvmnloi2ktng2sbckef444vccqc21t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761614409471-m1pvmnloi2ktng2sbckef444vccqc21t</string>
	<key>API_KEY</key>
	<string>AIzaSyBXZ8xXlWqJVwgabQcW9bcmGlOkXwHjLeM</string>
	<key>GCM_SENDER_ID</key>
	<string>761614409471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiskoo.LotoDom</string>
	<key>PROJECT_ID</key>
	<string>loteriasdominicanas-mrl</string>
	<key>STORAGE_BUCKET</key>
	<string>loteriasdominicanas-mrl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761614409471:ios:65c94063ce1af3b8eb76ca</string>
	<key>DATABASE_URL</key>
	<string>https://loteriasdominicanas-mrl.firebaseio.com</string>
</dict>
</plist>